body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.blog-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12vh;
  right: 0;
  width: 100vw;
  min-height: 88vh;
  background-color: var(--backgroundColour);
  z-index: 3;
}

.blog {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 88vh;
  transition: width 1s, height 1s;
  background-color: var(--backgroundColour-low);
  border-radius: 2rem;
  margin: 6rem 0;
  padding: 6rem;
}

.title, .blog code, .blog p:has(img) {
  align-self: center;
}

.blog p:has(img) {
  display: flex;
  justify-content: center;
}

.blog-content > *:first-child {
  margin-top: 0;
}

.blog-content > *:last-child {
  margin-bottom: 0;
}

.title {
  font-size: 7rem !important;
  font-weight: bold;
  margin-bottom: 6rem !important;
  background-color: var(--backgroundColour);
  width: calc(50vw - 12rem);
  text-align: center;
  border-radius: 1rem;
  padding: 2rem 0;
}

.blog p, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  color: var(--light);
}

.blog p:not(.title), h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 6rem;
}

.blog p {
  font-size: 2rem;
  line-height: 1.25;
}

.blog h1 {
  font-size: 4rem;
}

.blog h2 {
  font-size: 3.75rem;
}

.blog h3 {
  font-size: 3.5rem;
}

.blog h4 {
  font-size: 3.25rem;
}

.blog h5 {
  font-size: 3rem;
}

.blog h6 {
  font-size: 2.75rem;
}

.blog hr {
  background-color: var(--backgroundColour);
  height: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.blog pre:has(code) {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 3rem 0;
  background-color: var(--backgroundColour);
}

:not(pre) > code[class*="language-"] {
  padding: 0 0.5rem;
  background-color: var(--backgroundColour);
  line-height: 0;
}

.blog code {
  font-family: "Jet Brains Mono";
  font-size: 2rem;
}

.blogs-container {
  margin-top: 10vh;
  width: 90vw;
}

.blog-item {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s, background-color 1s;
  background-color: var(--secondaryColour);
  padding: 4rem;
  margin: 2rem 0;
  border-radius: 2rem;
  backface-visibility: hidden;
  transform-origin: center center;
  height: min-content;
}

.blog-item:hover {
  transform: scale(1.01);
  background-color: var(--secondaryColour-high);
}

.blog-title {
  font-family: 'Ubuntu Mono';
  font-size: 4rem;
  color: var(--light);
  padding-bottom: 1rem;
}

.blog-tags {
  font-family: 'Lato';
  font-size: 2rem;
  color: var(--light-low);
}

.blog-date {
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translate(0%, -50%);
  font-family: 'Lato';
  font-size: 4rem;
  color: var(--light-low);
}