@font-face {
  font-family: 'Nerd Font';
  src: url('../fonts/SymbolsNerdFontMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Anonymous Pro Bold';
  src: url('../fonts/Anonymous_Pro/AnonymousPro-Bold.ttf') format('truetype');
}

:root {
  --menuItemWidth: 9ch;
  --backgroundColour: #222831;
  --secondaryColour: #393E46;
  --secondaryColour-high: rgb(73, 80, 90);
  --highlightColour1: #00ADB5;
  --highlightColour2: #004e52;
  --highlightColour2-low: rgba(0, 173, 181, 0.15);
  --highlightColour2-med: rgba(0, 173, 181, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--backgroundColour);
}

#selected {
  color: var(--highlightColour1);
}

.cursor-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: difference;
}

#cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: transparent;
  pointer-events: none;
  width: 3rem;
  height: auto;
  transition: opacity ease-in-out 0.3s, width ease-in-out 0.1s;
  mix-blend-mode: difference;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 60vw;
  height: 10vh;
  padding-top: 2rem;
  font-size: 5rem;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--backgroundColour);
  background-color: var(--secondaryColour);
  font-family: "Ubuntu Mono";
  font-weight: bold;
  letter-spacing: 0.3rem;
  box-sizing: initial;
  padding: 1rem 2rem;
  min-width: var(--menuItemWidth);
  border-radius: 1.5rem;
  transition: color 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menu a:hover {
  color: var(--highlightColour2-low);
}

.menu a:focus {
  color: var(--highlightColour2-med);
}

#fading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColour);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  z-index: 999;
}

#circle-screen {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--backgroundColour);
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
  transform: scale(0);
}
