body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero {
  font-size: 20rem;
  font-family: "Anonymous Pro Bold";
  /* color: #2f2f2f; */
  color: var(--secondaryColour);
  background-color: transparent;
}