* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* cursor: none; */
}

#background-canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

#cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  background-color: transparent;
  pointer-events: none;
  width: 3rem;
  height: auto;
  transition: opacity ease-in-out 0.3s, width ease-in-out 0.1s;
  z-index: 1;
}
