* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  cursor: none;
}

#cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  filter: invert();
}

#cursor {
  mix-blend-mode: difference;
}
